Package: com.aronsz26.notifications14
Name: Notifications14
Version: 0.1
Architecture: iphoneos-arm64
Description: iOS 14's notifications on iOS 15 (test).
Maintainer: aronsz26
Author: aronsz26
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), firmware (>= 15.0)
