Package: com.aronsz26.notifications14
Name: Notifications14
Version: 1.0
Architecture: iphoneos-arm
Description: Brings back the iOS 14 notification design on iOS 15.
Maintainer: aronsz26
Author: aronsz26
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), preferenceloader, firmware (>= 15.0)
