<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>Notifications14</string>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>iOS 14's notifications on the lock screen, in Notification Center and as banners. Turn it off for iOS 15's. Takes effect after a respring.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Enabled</string>
			<key>key</key>
			<string>enabled</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.aronsz26.notifications14</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Apply (Respring)</string>
			<key>action</key>
			<string>respring</string>
		</dict>
	</array>
</dict>
</plist>
